body {
	background: #919a9a;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
}

main {
	padding: 10%;
}

form {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
	padding: 4em 3em;
}

select {
	font-size: inherit;
	margin: 1em 0;
	min-width: 8em;
}

footer {
	margin: 10% 0;
}

.credits {
	font-size: 70%;
	margin: 1em 0;
}
